<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.apfs.analysis.mapper.AcdntMapper">
	<select id="selectAcdntAnalList" resultType="kr.apfs.analysis.vo.AcdntVo">
		SELECT
		   sidoetc, 
		   a.acdno,
		   a.objno, 
		   regexp_replace(a.acdbdt,'([[:digit:]]{4})([[:digit:]]{2})([[:digit:]]{2})','\1-\2-\3')  acdbdt,
		   a.acdcacd,
		   a.frcs,
		   a.fppcd,
		   a.fppnm,
		   a.sidocd, sidonm,
		   paymgar, payidm, ymd,
		   areaid, areanm,
		   wrnnm, daymaxta, dayminta,daysumrn,dayavgws,daysumss,
		   examnrsn, pstoffc, examinknd
		FROM 
		   ACDWR a, FDI_OBJADEX b
		WHERE 1=1
		AND A.ACDNO = B.ACDNTNO
        AND A.OBJNO =B.OBJNO        
		AND acdbdt BETWEEN #{stYmd} AND #{edYmd}
		<if test='sidocd != null and sidocd != ""' >
		 AND sidocd = #{sidocd}
		</if>
		<if test='fppcd != null and fppcd != ""' >
		 AND fppcd = #{fppcd}
        </if>
		 ORDER BY acdbdt
	</select>
</mapper>