<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.apfs.analysis.mapper.WeatherMapper">
	<insert id="insertWeatherInfo" parameterType="java.util.Map">
		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
		INSERT INTO kmaday (
			ymd
			,areaid
			,areaname
			,cropspeid
			,cronam
			,cropspename
			,dayavgta
			,daymaxta
			,dayminta
			,dayavgrhm
			,dayminrhm
			,daysumrn
			,dayavgws
			,daysumss
			,wrncount
			,wrncd
			,wrnnm
			,crtid
			,crtdt					
		) VALUES (
			#{item.ymd}
			,#{item.areaId}
			,#{item.areaName}
			,#{item.paCropSpeId}
			,#{item.paCropName}
			,#{item.paCropSpeName}
			,#{item.dayAvgTa}
			,#{item.dayMaxTa}
			,#{item.dayMinTa}
			,#{item.dayAvgRhm}
			,#{item.dayMinRhm}
			,#{item.daySumRn}
			,#{item.dayAvgWs}
			,#{item.daySumSs}
			,#{item.wrnCount}
			,#{item.wrnCd}
			,#{item.wrnNm}
			,#{item.crtid}
			,SYSDATE
		)
		</foreach>
	</insert>
</mapper>