@charset "UTF-8";

/*전체 공통 */
/**/

body {min-width : 1024px;}


/*header area */

/*menu area */
nav.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

nav.sidebar div.lnb-area ul.sencond  {
	padding-left:15px;
} 


/*content area */
[role="main"] {
  padding-top: 60px; /* Space for fixed navbar */    
}

.section-chart {}
.section-chart canvas {border: 1px solid red !important;}
.section-grid {}

/*grid*/
.section-grid {
	width: 99%;	
}
.ui-jqgrid
{
	font-size:0.8rem
}

/* modal */
.modal-chart { background-color: #f0f0f0 }

