<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">
	
	<property  name="LOGS_ABSOLUTE_PATH" value="C:/DEV_TOOL/log" />
	
	<!-- set rule for console log  -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>▶  ### VISUAL### [%-5level] %d{HH:mm:ss} [%logger{20}.%method:%line]- %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- set rule for generation logfile  -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGS_ABSOLUTE_PATH}/visual.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>▶  ### VISUAL### [%-5level] %d{HH:mm:ss} [%logger{20}.%method:%line]- %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_ABSOLUTE_PATH}/visual.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<!-- log`s target and level  -->
	<!-- ERROR > WARN > INFO(realese) > DEBUG(local) > TRACE -->	
    <logger name="org.springframework" additivity="false" >
		<level value="DEBUG"/>
		<appender-ref ref="CONSOLE"/>
	</logger>

    <root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>